
body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #01254d; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}
